<header>
    <div class="header-container">
        <div id="logoNameContainer" class="logo-name-container">
            <img id="logo" src="/~cameron28202/styles/logo.jpg" alt="logo">
            <h1 class="name">cameron stone</h1>
        </div>

        <div class="navigation-menu">
            <div class="three-lines" id="menuButton">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>


        <nav class="nav-links" id="navLinks">
            <a href="index_HTML.html">home</a>
            <a href="portfolio_HTML.html">portfolio</a>
            <a href="qualifications_HTML.html">qualifications</a>
            <a href="service_HTML.html">service</a>
        </nav>
    </div>
</header>